table {
  border-collapse: collapse;
}

caption {
}

th,
td {
  padding: 10px;
  text-align: center;
}

thead tr {
  background-color: #000;
  color: white;
}

tbody tr:nth-child(2n) {
  background-color: #ddd;
}
